.product-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  background-color: #fff;
  width: fit-content;
}

.product-card {
  border: none;
}

.product img {
  width: 200px;
  height: 250px;
  border-radius: 10px;
}

.product h3 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #9d9fa1;
}

.product .price {
  font-size: 14px;
  font-weight: bolder;
}

.market_head {
  margin: 5% 0% 0% 19%;
  width: 66%;
  border: 2px solid rgb(223, 214, 214);
  border-radius: 10px;
}
.market_head_p {
  display: flex;
  gap: 17px;
  margin-left: 10px;
  padding: 10px;
}
.market_head_cart {
  margin-left: 60%;
}
.link_no_underline {
  text-decoration: none;
}
