.product-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: space-between;
  border: 1px solid #e7e7e7;
  border-radius: 1vw;
  padding: 1vw;
  margin-top: 2vw;
  background-color: #fff;
  width: 62vw;
  margin-left: 8vw;
}

.product-card {
  border: none;
}

.product img {
  width: 14vw;
  height: 18vw;
  border-radius: 1vw;
}

.product h3 {
  font-size: 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  color: #9d9fa1;
}

.product .price {
  font-size: 1vw;
  font-weight: bolder;
}
.favorite {
  margin: 3vw 0vw 0vw 11vw;
  width: 100vw;
  border-radius: 1vw;
}
.favorite-container {
  display: flex;
  justify-content: space-around;
  border: 2px solid rgb(223, 214, 214);
  padding: 2vw;
  width: 38vw;
  height: 10vw;
  margin: 1vw 0vw 0vw 1vw;
}
.favorite-container img {
  width: 10vw;
  border-right: 1px solid #ede7db;
  padding-right: 1vw;
}
.favorite-content-right p {
  height: 2vw;
}

@media all and (max-width: 769px) {
  .product-list-container {
    width: 50vw;
  }
  .product img {
    width: 16vw;
  }
}
