* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100vw;
}
.navbarContainer {
  height: 50px;
  width: 100vw;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbarLeft {
  flex: 3;
}

.logo {
  font-size: 2vw;
  margin-left: 2vw;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.navbarCenter {
  flex: 5;
}
.navbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.navbar__modal {
  margin-left: 39vw;
  width: 3vw;
  height: 3vw;
  border-radius: 50vw;
  background-color: black;
  -webkit-border-radius: 50vw;
  -moz-border-radius: 50vw;
  -ms-border-radius: 50vw;
  -o-border-radius: 50vw;
}
.modal__pic {
  height: 3vw;
  border-radius: 50vw;
  object-fit: cover;
}
.modal__item {
  width: 10vw;
  opacity: 1;
  position: fixed;
  right: 2vw;
  top: 3.5vw;
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(241, 243, 243);
  padding: 1vw;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
}
.modal__link {
  margin-bottom: 2vw;
  text-decoration: none;
  font-size: 1.5vw;
  font-weight: 500;
  color: black;
}
.modal__link:last-child {
  margin-bottom: 0;
}
