* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post {
  width: 76.5vw;
  margin-top: 40px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgb(223, 222, 222);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 20px;
}
.post:first-child {
  margin-top: 0;
}
.post__wrapper {
  margin: 0 auto;
}
.post__center {
  width: 73vw;
}
.center__block {
  /* padding-top: 40px; */
  display: flex;
  justify-content: space-between;
}
.center__block_img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: contain;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 20px;
  /* display: flex; */
  /* flex-direction: row; */
}
.dropDown {
  position: relative;
  right: -46.5vw;
  top: 0;
}
.center__block_img img {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(195, 193, 193);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.post__user {
  line-height: 30px;
}
.post__text {
  padding-bottom: 20px;
}
.post_and_film {
  display: flex;
  border-radius: 10px;
  width: 50vw;
  width: 47.5vw;
}
.post_and_film1 {
  height: 400px;
  margin-right: 20px;
  border-radius: 10px;
  width: 100%;
}

.post__image23 {
  width: 60.5vw;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.iframes__block {
  display: flex;
  flex-direction: column;
}
.post__user1 {
  color: rgb(11, 112, 179);
}
.post__video {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.post__button {
  width: 50px;
  height: 30px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 20px 0;
}
.post__like-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(240, 240, 240);
}
.post__views-count {
  height: 59px;
  position: relative;
  left: 69.5vw;
  display: flex;
  align-items: center;
}
.post__views-count p {
  font-size: 20px;
  margin-bottom: 10px;
}
.post__views_img {
  width: 100px;
}
