* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 3vw;
}
.auth__page {
  width: 30vw;
  margin-left: 24vw;
  display: flex;
  justify-content: center;
}
.auth__container {
  width: 30vw;
  height: 40vw;
  background-color: #fff;
  margin-top: 1.5vw;
  padding: 1vw;
  border-radius: 1vw;
  -webkit-border-radius: 1vw;
  -moz-border-radius: 1vw;
  -ms-border-radius: 1vw;
  -o-border-radius: 1vw;
}
.auth__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vw 0;
}
.auth__logo {
  width: 3vw;
  border-radius: 1vw;
}
.auth__block {
  width: 26vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth__input {
  height: 3vw;
  border-radius: 0.5vw;
  margin-bottom: 1.5vw;
  -webkit-border-radius: 0.5vw;
  -moz-border-radius: 0.5vw;
  -ms-border-radius: 0.5vw;
  -o-border-radius: 0.5vw;
  border: 1px solid rgb(215, 206, 206);
  text-indent: 1vw;
  background-color: #f0eeee;
}
.auth__input:focus {
  border: 1px solid rgb(215, 206, 206);
}
.auth__input::placeholder {
  text-align: center;
  text-indent: 0;
}
.auth__btn {
  width: 24vw;
  height: 3vw;
  border-radius: 0.5vw;
  color: #fff;
  background-color: rgb(11, 135, 193);
  -webkit-border-radius: 0.5vw;
  -moz-border-radius: 0.5vw;
  -ms-border-radius: 0.5vw;
  -o-border-radius: 0.5vw;
  border: none;
}
.auth__btn:hover {
  background-color: rgb(6, 151, 218);
}
.auth__bottom {
  padding: 1vw;
  margin-bottom: 2vw;
}
.auth__link {
  text-decoration: none;
  color: rgb(11, 135, 193);
}
.auth__link:hover {
  text-decoration: none;
  color: rgb(6, 151, 218);
}
